.logoEntrance { width: 180px; height: 205px; margin: auto; top: 0; right: 0; left: 0; bottom: 0; }


html, body { width: 100%; height: 100%; min-width: 500px; min-height: 500px; }

body {h
  background-color: red;
 }

#scenes {
  width: 1024px;
  height: 579px;
  margin: 0 auto;
  position: absolute;
  top:0;
  left: 0;
  transform-origin: 0 0;
}
.scene {
  width: 100%;
  height: 100%;
}

.scene {
  position: relative;
  overflow: hidden;
}

.scene .description {
  display: none;
}

.scene1 {
  background-color: #fff;
}

.scene1 .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.2em;
  height: 0.2em;
  background-color: #000;
  box-shadow: 0 0 .2em .13em #000, 0 0 0 0 black, 0 0 0 0 #000;
  opacity: 0;
  animation: dot-anim linear 5s;
  border-radius: 100%;
}

@keyframes dot-anim {

  10% {
    opacity: 1;
    box-shadow: 0 0 .2em .13em #000, 0 0 0 0 black, 0 0 20px 20px #000;
  }
  100% {
    opacity: 0.8;
    box-shadow: 0 0 .2em .13em #000, 0 0 0 2000px black, 0 0 0 2000px #000;
  }
}
